
td {

    background-image:url("../img/case.jpg");

    height:50px;

    width:50px;

    background-size:contain;

    background-repeat:no-repeat;

    text-align:center; /* Pour centrer les images de joueurs */

}

table {

    border-collapse:collapse;

    table-layout:fixed;

    float:left;



}

.grisee {

    filter:invert(100%);
    -webkit-filter:invert(100%);


}



.img_arme, .joueur1, .joueur2 {

    width:70%;

    height:70%;

}



.joueur1, .interface-joueur1 {

    filter:hue-rotate(-120deg);
    -webkit-filter:hue-rotate(-120deg);

}



.dep_possible {

    filter:invert(20%);
    -webkit-filter:invert(20%);



}



.dep_possible:hover {

    filter:invert(30%);
    -webkit-filter:invert(30%);

}



#panel-interfaces {

    display:none;
    border:1px solid black;
}



.espace_jeu {

    display:flex;
    justify-content:center;

}

.joueur1-anim {
    filter:hue-rotate(-120deg);
    -webkit-filter:hue-rotate(-120deg);
}

progress {

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance:none;

}


.animation-deplacement {
    position:absolute;
}


/* Opera / Chrome */

progress#barre_j1::-webkit-progress-value {
    background: red;

}



/* Firefox */

progress#barre_j1::-moz-progress-bar {

    background-color: red;

}



progress#barre_j2::-moz-progress-bar {

    background-color:green;

}



.img_interface_joueur {

    height:60px;
    width:80px;
    float:left;

}



#interface_1, #interface_2 {
    font-size:.9rem;
    margin-bottom:20px;

}

#interface_1 {
    margin-top:20px;
}



h1 {

    display:none;

    text-align:center;



}

span.vie, span.description-arme, span.degats {

    font-family:Typewriter, sans-serif;

}


/* Affichage mobile */
@media screen and (max-width:580px) {

    td {
        height:calc(100% / 11);
        width:calc(100% / 11);
    }

    #grille {
        height: 308px; /* Le temps de lui faire comprendre ça (ou en passant par jQuery, adapter height à la width)*/
        padding-right:0;
        padding-left:0;
    }

    table {
        width:100%;
    }

    .espace_jeu {
        margin-left:0;
        margin-right:0;
    }

    #interface_1 {
        margin-top:0;
    }

    #panel-interfaces {
        margin-top:20px;
    }

    button {
        font-size:12px;
    }

    #boutons_combat {
        margin:0;
    }

}

/* Affichage desktop */
@media screen and (min-width:581px) {/* À partir de 580px, on fixe la taille des cellules, 581px = (50 * 11) + 30 (marge latérale) */

    td {
        height:50px;
        width:50px;
    }

}

/* Mobile landscape et plus haut : on ajoute une marge entre la carte et l'interface */
@media screen and (min-width:751px) {
    #panel-interfaces {
        margin-left:50px;
        padding-left:10px;
    }
}