.button_container button {
    width:100%;
    background-color:green;
}

/* Provisoire*/

.button_container button:disabled {
    width:100%;
    background-color:green;
}


.button_container button:hover {
    background-color:#006300;
}

.container-fluid {
    height:100%;
}

#container-buttons {
    position:relative;
    top:50%;
    margin-top:-15%;
    height:15%;
}

#connected-as {
    position: absolute;
    bottom: 0;
    width:100%;
}

@media screen and (max-device-width:420px) {
    
    #container-buttons {
        height:10%; /* Pour afficher correctement tous les boutons (si on le met en global, ils sont écrasés en desktop) */    
    }
    
}



/* Affichage desktop */
@media screen and (min-width:769px) {  /* text-md-right, on décale le texte de #connected-as de la marge*/

    #connected-as {
        right:1rem;
    }

}